@model IEnumerable<UsersManager.Models.Photo>

@Scripts.Render("~/bundles/ratings")

@foreach (var photo in Model)
{
    <div class="photoContainer">
        @Helper.AvatarUser(photo.User)
        @Helper.Photo(photo)
    </div>
}